{% extends 'ligas/ligas.html.twig' %}

{% block title %}Veredeporte - Crear ligas{% endblock %}

{% block main %}
    <h1 class="text-success">Crea una Liga!!</h1>

    {{ form_start(form , {'attr': {'class':'d-flex flex-column align-items-start'}}) }}

        {{ form_label(form.nombre) }}
        {{ form_widget(form.nombre) }}
        <div class="my-2">
            {{ form_label(form.tipo) }}
            {{ form_widget(form.tipo) }}
        </div>

        {{ form_label(form.fecha_inicio) }}
        {{ form_widget(form.fecha_inicio) }}

        {{ form_widget(form.guardar , {'attr': {'class':'mt-3 btn btn-outline-success'}}) }}

        {{ form_end(form) }}

{% endblock %}