{% extends 'base.html.twig' %}

{% block title %}Veredeporte - Ligas{% endblock %}

{% block nav %}

    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{{ path('app_inicio') }}">Home</a>
    </li>
    {% if user and is_granted('ROLE_ADMIN') %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_administracion') }}">Administraci칩n</a>
    </li>   
    {% else %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_equipo') }}">Equipo</a>
    </li>
    {% endif %}
    <li class="nav-item">
        <a class="nav-link active" href="{{ path('app_ligas') }}">Ligas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Proximos Partidos</a>
    </li>

{% endblock %}

{% block main %}
    <div class="d-flex align-items-center">
        <h1 class="text-success">LIGAS</h1>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_crear_liga') }}" class=" ms-auto btn btn-outline-success">Crear Liga</a>
        {% endif %}
    </div>
    {% if ligas %}
        {% for liga in ligas %}
            <div class="card mt-3 bg-light">
                <div class="d-flex align-items-center p-3">
                    <h2>{{ liga.nombre }}</h2>
                    <span class="ms-2 text-secondary small text-capitalize">{{ liga.tipo }}</span>
                    <button class="ms-auto btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#{{liga.tipo ~ liga.id}}" aria-expanded="false" aria-controls="{{liga.id}}">
                        <i class="bi bi-caret-down h1"></i>
                    </button>
                </div>
                <div class="collapse p-2" id="{{liga.tipo ~ liga.id}}">
                    <hr class="mt-0">
                    <div class="row">
                        <div class="col">
                            <h6 class="ms-3">Estado: {% if fechaFin(liga) %} Empezada {% else %} Abierta {% endif %}</h6>
                            <h6 class="ms-3">Fecha de Inicio: {{ fechaIni(liga) | date('Y-m-d') }}</h6>
                            <h6 class="ms-3">Fecha de Finalizaci칩n: {{ fechaFin(liga).format('Y-m-d') ?? '' }}</h6>
                            {% if not fechaFin(liga) %}
                                <h6 class="ms-3 fw-light text-secondary">(Si los equipos son impares al momento del inicio de la liga, se eliminar치 a uno de los equipos)</h6>
                            {% endif %}
                        </div>
                        {% if is_granted('ROLE_CAPITAN') %}
                        <div class="col d-flex justify-content-end align-items-start">
                            {% if not fechaFin(liga) %}
                                {% if user.equipo.liga %}
                                    <a href="{{ path('app_salirse_liga',{ id: liga.id }) }}" class="ms-auto btn btn-outline-danger">Cancelar Participaci칩n</a>
                                {% else %}
                                    {% if user.equipo.solicitarParticipar %}
                                        <a href="{{ path('app_cancelar_solicitud_liga',{ id: liga.id }) }}" class="ms-auto btn btn-outline-danger">Cancelar Solicitud</a>
                                    {% else %}
                                        {% if liga.equipos|length < liga.maxEquipos and user.equipo.jugadores|length >= 11 and user.equipo.tipo == liga.tipo %}
                                            <a href="{{ path('app_solicitar_liga',{ id: liga.id }) }}" class="ms-auto btn btn-outline-success">Solicitar entrar</a>
                                        {% else %}
                                            {% if user.equipo.jugadores|length < 11%}
                                                <a href="#" class="ms-auto btn btn-outline-success disabled">Jugadores insuficientes</a>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>
                        {% endif %}
                        
                    </div>
                    <div class="accordion" id="{{liga.tipo ~ liga.id}}acc">
                        <div class="accordion-item">
                            <h4 class="accordion-header text-success" id="{{liga.tipo ~ liga.id}}headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{liga.tipo ~ liga.id}}equipos" aria-expanded="false" aria-controls="collapseOne">
                                    Equipos
                                </button>
                            </h4>
                            <div id="{{liga.tipo ~ liga.id}}equipos" class="accordion-collapse collapse" aria-labelledby="{{liga.tipo ~ liga.id}}headingOne" data-bs-parent="#{{liga.tipo ~ liga.id}}acc">
                                <div class="accordion-body">
                                    {% if liga.equipos|length != 0 %}
                                        <div class="card">
                                            {% for equipo in liga.equipos %}
                                                <div class="row px-3">
                                                    <div class="col px-2 pt-2 d-flex align-items-center flex-wrap">
                                                        {% set ruta = "img/bola" ~ equipo.tipo ~ "3.png" %}
                                                        <img src="{{ asset( ruta ) }}" width="50px">
                                                        <div>
                                                            <span class="ms-3 h4 text-capitalize">{{ equipo.nombre }}</span>
                                                            <span class="text-secondary small text-uppercase">{{ equipo.tipo }}</span>
                                                        </div>
                                                    </div>
                                                    {% if is_granted('ROLE_ADMIN') %}
                                                        <div class="col d-flex justify-content-end align-items-center">
                                                            <a href="{{ path('app_expulsar_liga',{id: equipo.id}) }}" class="btn btn-outline-danger">Expulsar</a>
                                                        </div>
                                                    {% endif %}
                                                    <hr class="my-2 mb-0 w-100">
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        <p>No hay equipos todavia...</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h4 class="accordion-header text-success" id="{{liga.tipo ~ liga.id}}headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{liga.tipo ~ liga.id}}partidos" aria-expanded="false" aria-controls="{{liga.tipo ~ liga.id}}partidos">
                                    Partidos
                                </button>
                            </h4>
                            <div id="{{liga.tipo ~ liga.id}}partidos" class="accordion-collapse collapse" aria-labelledby="{{liga.tipo ~ liga.id}}headingTwo" data-bs-parent="#{{liga.tipo ~ liga.id}}acc">
                                <div class="accordion-body">
                                    {% if liga.partidos|length != 0 %}
                                        <div class="card">
                                            {% for partido in liga.partidos %}
                                                <div class="row px-3">
                                                    <div class="col px-2 pt-2">
                                                        <div><span class="text-secondary">Local: </span>{{ partido.local.nombre }}</div>
                                                        <div><span class="text-secondary">Visitante: </span>{{ partido.visitante.nombre }}</div>
                                                    </div>
                                                    <div class="col d-flex justify-content-center align-items-center">
                                                        <span>{{ partido.fechaHora|date("Y-m-d H:i:s") }}</span>
                                                    </div>
                                                    <div class="col d-flex justify-content-center align-items-center">
                                                        {% if partido.resultado is empty %}
                                                            <label><span class="text-secondary">__</span> - <span class="text-secondary">__</span></label>
                                                        {% else %}
                                                            <label><span class="text-secondary">{{partido.resultado[0]}}</span> - <span class="text-secondary">{{partido.resultado[1]}}</span></label>
                                                        {% endif %}
                                                    </div>
                                                    <hr class="my-2 mb-0 w-100">
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        <p>No hay partidos todavia...</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h6>No hay ligas en este momento...</h6>
    {% endif %}
{% endblock %}