{% extends 'base.html.twig' %}

{% block main %}
    {# <p>{{ dump(jugadores) }}</p>
    <p>{{ dump(user) }}</p> #}
    {# <p>{{ dump(partidoI) }}</p>
    <p>{{ dump(partidoV) }}</p>
    <p>{{ dump(local) }}</p> #}
    <p>{{ dump(equipos) }}</p>
    <p>{{ dump(partidoI) }}</p>
    {# <script>console.log({{ jugadores }})</script> #}
    
{% endblock %}