{% extends 'admin/administracion.html.twig' %}

{% block title %}Veredeporte - Administración{% endblock %}

{% block main %}
    {% if ligas %}
        {% for liga in ligas %}
            {% if liga.maxEquipos == liga.equipos|length or (liga.id in fechaIniFinalizada) %}
                {% if liga.partidos is empty %}
                    <div class="card mt-3 bg-light">
                        <div class="d-flex align-items-center p-3">
                            <h2>{{ liga.nombre }}</h2>
                            <span class="ms-2 text-secondary small text-capitalize">{{ liga.tipo }}</span>
                            <button class="ms-auto btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#{{liga.tipo ~ liga.id}}" aria-expanded="false" aria-controls="{{liga.id}}">
                                <i class="bi bi-caret-down h1"></i>
                            </button>
                        </div>
                        <div class="collapse p-2" id="{{liga.tipo ~ liga.id}}">
                            <hr class="mt-0">
                            <div class="row">
                                <div class="col">
                                    <h6 class="ms-3">Estado: {% if fechaFin(liga) %} Empezada {% else %} Abierta {% endif %}</h6>
                                    <h6 class="ms-3">Fecha de Inicio: {{ fechaIni(liga) | date('Y-m-d') }}</h6>
                                    <h6 class="ms-3">Fecha de Finalización: {{ fechaFin(liga).format('Y-m-d') ?? '' }}</h6>
                                    {% if not fechaFin(liga) %}
                                        <h6 class="ms-3 fw-light text-secondary">(Si los equipos son impares al momento del inicio de la liga, se eliminará a uno de los equipos)</h6>
                                    {% endif %}
                                </div>
                                <div class="col d-flex justify-content-end align-items-start">
                                    {% if liga.equipos|length < 4 %}
                                        <span class="text-danger mt-2">Equipos insuficientes!</span>
                                        <a href="{{ path('app_cerrar_liga', {id: liga.id}) }}" class="ms-2 btn btn-outline-danger">Borrar liga</a>
                                    {% else %}
                                        <a href="{{ path('app_generar_partidos', {id: liga.id}) }}" class="ms-2 btn btn-outline-success">Generar Partidos</a>
                                    {% endif %}
                                </div>
                                
                            </div>
                            <div class="accordion" id="{{liga.tipo ~ liga.id}}acc">
                                <div class="accordion-item">
                                    <h4 class="accordion-header text-success" id="{{liga.tipo ~ liga.id}}headingOne">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{liga.tipo ~ liga.id}}equipos" aria-expanded="false" aria-controls="collapseOne">
                                            Equipos
                                        </button>
                                    </h4>
                                    <div id="{{liga.tipo ~ liga.id}}equipos" class="accordion-collapse collapse" aria-labelledby="{{liga.tipo ~ liga.id}}headingOne" data-bs-parent="#{{liga.tipo ~ liga.id}}acc">
                                        <div class="accordion-body">
                                            {% if liga.equipos|length != 0 %}
                                                <div class="card">
                                                    {% for equipo in liga.equipos %}
                                                        <div class="row px-3">
                                                            <div class="col px-2 pt-2 d-flex align-items-center flex-wrap">
                                                                {% set ruta = "img/bola" ~ equipo.tipo ~ "3.png" %}
                                                                <img src="{{ asset( ruta ) }}" width="50px">
                                                                <div>
                                                                    <span class="ms-3 h4 text-capitalize">{{ equipo.nombre }}</span>
                                                                    <span class="text-secondary small text-uppercase">{{ equipo.tipo }}</span>
                                                                </div>
                                                            </div>
                                                            <hr class="my-2 mb-0 w-100">
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            {% else %}
                                                <p>No hay equipos todavia...</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% else %}
        <h6>No hay ligas en este momento...</h6>
    {% endif %}
{% endblock %}