{% extends 'admin/administracion.html.twig' %}

{% block title %}Veredeporte - Administración{% endblock %}

{% block main %}

    <div class="row">
        <div class="col-sm-8 col-md-6 m-auto">
            <h1 class="text-success">Crear Nuevo Profesor</h1>

            {{ form_start(form , {'attr': {'class':'d-flex flex-column'}}) }}
        
                {{ form_label(form.nombre, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.nombre, {'attr': {'class':'form-control'}}) }}
        
                {{ form_label(form.apellidos, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.apellidos, {'attr': {'class':'form-control'}}) }}
        
                {{ form_label(form.email, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.email, {'attr': {'class':'form-control'}}) }}
        
                {{ form_label(form.password, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.password, {'attr': {'class':'form-control'}}) }}
        
                {{ form_label(form.password2, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.password2, {'attr': {'class':'form-control'}}) }}
        
                {{ form_widget(form.guardar , {'attr': {'class':'mt-3 btn btn-outline-success'}}) }}
        
            {{ form_end(form) }}
        </div>
    </div>
    
{% endblock %}